#choropleth_map {
    top: 100px;
    bottom: 100px;
    left: 100px;
    right: 100px;
  }
  
  .bgwhite {
    background-color: #ffffff;
  }
  
  .bg1 {
    background-color: #FCF6F5FF;
  }
  
  .bg2 {
    background-color: #ADD8E6;
  }
  
  .bg3 {
      background-color: rgb(164, 199, 186);
  }

  
  .sp {
    display: none;
  }
  
  #gdp_sp {
    display: flex;
  }
  
  body {
    font-size: large;
    font-family: 'Inter', sans-serif !important;
    background-color: #ffffff;
  }
  
  .vega-bind-name {
    padding: 5px;
  }
  

  #headline {
    font-family: "Sora", sans-serif;
    font-size: 4em;
  }
  
  .container {
    border: 1px solid;
    box-shadow: 5px 10px #919191;
  }
  
  
  select {
    background-color: rgb(255, 255, 255);
    padding: 2px;
  }
  
  .pop {
    font-size: xx-large;
    text-shadow: 2px 2px 2px rgb(255, 255, 255),
    2px 2px 1px rgb(255, 255, 255); 
  }